# Run the weather deployment workflow after docker-build completes or manually
name: Deploy Weather App
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build and Push Docker Image to GitHub Container Registry"]
    types:
      - completed
jobs:
    deploy:
        runs-on: ubuntu-dev
        if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy Weather App
              run: |
                echo "Deploying Weather App..."
                # Add deployment commands here
                echo "Weather App deployed successfully!"
                # Add Action secrete WEATHER_API_KEY to the .env file
                echo "WEATHER_API_KEY=${{ secrets.WEATHER_API_KEY }}" >> .env
                make run-with-env